.spinner {
    width: 60px;
    height: 60px;
    margin: 60px;
    animation: rotate 1.8s infinite ease-in-out,
        background 1.8s infinite ease-in-out alternate;
}

@keyframes rotate {
    0% {
        transform: perspective(120px) rotateX(0deg) rotateY(0deg);
    }
    25% {
        transform: perspective(120px) rotateX(-180deg) rotateY(0deg);
    }
    50% {
        transform: perspective(120px) rotateX(-180deg) rotateY(-180deg);
    }
    75% {
        transform: perspective(120px) rotateX(0deg) rotateY(-180deg);
    }
    100% {
        transform: perspective(120px) rotateX(0deg) rotateY(0deg);
    }
}
@keyframes background {
    0% {
        background-color: var(--color-buspack);
    }
    50% {
        background-color: var(--color-gray-dark);
    }
    100% {
        background-color: var(--color-buspack);
    }
}
